<!DOCTYPE HTML>
<html>

<head>
    <title>ფასკუნჯი</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


    <!-- Stylesheets -->

    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <link href="/assets/css/ionicons.css" rel="stylesheet">

    <link href="/assets/css/swiper.min.css" rel="stylesheet">

    <link href="/assets/css/styles.css" rel="stylesheet">

    <link href="/assets/css/responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Eater" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">მთავარი</a>
            <a href="#contact" id="cat">კატეგორიები</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <!-- conatiner -->
    </header>

    <div class="swiper-container" id="sli" style="display: none; margin-top: 10px;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>
            <div class="swiper-slide">
                <a href="/"> lalalala</a>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>