<!DOCTYPE HTML>
<html>

<head>
    <title>ფასკუნჯი</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


    <!-- Stylesheets -->

    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <link href="/assets/css/ionicons.css" rel="stylesheet">

    <link href="/assets/css/swiper.min.css" rel="stylesheet">

    <link href="/assets/css/styles.css" rel="stylesheet">

    <link href="/assets/css/responsive.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="container-fluid position-relative no-side-padding">

            <a href="/" class="logo">
                <img src="/assets/images/untitled.svg" alt="Logo Image">
            </a>

            <div class="menu-nav-icon" data-nav-menu="#main-menu">
                <i class="ion-navicon"></i>
            </div>

            <ul class="main-menu visible-on-click" id="main-menu">
                <li>
                    <a href="/">მთავარი</a>
                </li>
                <li id="cat">
                    <a href="#">კატეგორიები</a>
                </li>
            </ul>
            <!-- main-menu -->

            <!--
                    <div class="src-area">
                        <form>
                            <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            <input class="src-input" type="text" placeholder="Type of search">
                        </form>
                    </div>
        -->

        </div>
        <!-- conatiner -->
    </header>

<div class="swiper-container" id="sli" style="display: none; margin-top: 10px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slidde 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 19</div> 
        <div class="swiper-slide">Slide 10</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>