<%- include('header'); %>

<section class="blog-area section">
    <div class="container">

        <div class="row">
            <div class="col-lg-2 col-md-0"></div>
            <div class="col-lg-8 col-md-12">
                <div class="post-wrapper">

                    <h3 class="title"><a href="#"><b><%= tale.title %></b></a></h3>

                    <%- tale.content %>


                </div><!-- post-wrapper -->
            </div><!-- col-sm-8 col-sm-offset-2 -->
        </div><!-- row -->

    </div><!-- container -->
</section><!-- section -->



<%- include('footer'); %>